.sweet-progress-main {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 0.25em;
  color: #1ebec2;
  background-color: #a7a7a7;
  font-size: 16px;
}

.sweet-progress-main::-webkit-progress-bar {
  background-color: transparent;
}

/* Determinate */
.sweet-progress-main::-webkit-progress-value {
  background-color: currentColor;
  transition: all 0.2s;
}

.sweet-progress-main::-moz-progress-bar {
  background-color: currentColor;
  transition: all 0.2s;
}

.sweet-progress-main::-ms-fill {
  border: none;
  background-color: currentColor;
  transition: all 0.2s;
}

/* Indeterminate */
.sweet-progress-main:indeterminate {
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    currentColor 50%,
    currentColor 60%,
    transparent 60%,
    transparent 71.5%,
    currentColor 71.5%,
    currentColor 84%,
    transparent 84%
  );
  animation: main 2s infinite linear;
}

.sweet-progress-main:indeterminate::-moz-progress-bar {
  background-color: transparent;
}

.sweet-progress-main:indeterminate::-ms-fill {
  animation-name: none;
}

@keyframes main {
  0% {
    background-size: 200% 100%;
    background-position: left -31.25% top 0%;
  }
  50% {
    background-size: 800% 100%;
    background-position: left -49% top 0%;
  }
  100% {
    background-size: 400% 100%;
    background-position: left -102% top 0%;
  }
}
