.toast-btn-container {
  display: flex;
  flex-direction: column;
}
.toast-btn-main {
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 20px;
  text-transform: uppercase;
  text-shadow: -2px 3px 8px rgb(0 0 0 / 10%);
  box-shadow: 0px 8px 25px 0px rgb(72 69 90 / 10%);
  transition: all linear 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toast-btn-main:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.toast-btn-rectangle {
  border-radius: 8px;
}
.toast-btn-circle {
  border-radius: 50% !important;
  padding: 0px !important;
}
.toast-btn-oval {
  border-radius: 32px !important;
}
.toast-btn-fullWidth {
  width: 100%;
}
.toast-btn-large {
  height: 46px;
  min-width: 46px;
  min-height: 46px;
  line-height: 44px;
  padding: 0 20px;
  font-size: 18px;
}
.toast-btn-medium {
  height: 42px;
  min-width: 42px;
  min-height: 42px;
  line-height: 35px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 500;
}
.toast-btn-small {
  height: 38px;
  min-height: 38px;
  min-width: 38px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
}

.toast-btn-primary {
  color: #1ebec2;
  background: transparent;
  box-shadow: none;
  border: none;
}

/* //error styless */
.toast-btn-error {
  color: #ff2626;
  background: transparent;
  box-shadow: none;
  border: none;
}

/* warning  styless */

.toast-btn-warning {
  color: #ff2626;
  background: transparent;
  box-shadow: none;
  border: none;
}

/* secondary stylesss */

.toast-btn-secondary {
  color: #6549d5;
  background: transparent;
  box-shadow: none;
  border: none;
}

/* info styless */
.toast-btn-info {
  color: #397fe4;
  background: transparent;
  box-shadow: none;
  border: none;
}

/* success  styless */

.toast-btn-success {
  color: #00a707;
  background: transparent;
  box-shadow: none;
  border: none;
}
