.sweet-toast-main {
  position: relative;
  border: none;
  outline: none;
  min-height: 40px;
  margin: auto;
  min-block-size: 40px;
  animation-name: toast_animations;
  animation-duration: 0.5s;
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  z-index: 9;
  max-width: 360px;
}

.sweet-toast-place-holder {
  display: flex;
  align-items: center;
}
.sweet-toast-title {
  padding: 8px;
  font-size: 14px;
}
.sweet-toast-root {
  font-family: inherit;
  line-height: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transform: none;
  transform-origin: 50% 50% 0px;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}
.sweet-toast-success::before {
  content: "";
  background: #46d300;
  border-right: 4px solid #008b33;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 5px;
}

.sweet-toast-error::before {
  content: "";
  background: #fc1515;
  border-right: 4px solid rgb(160, 32, 0);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 5px;
}
.sweet-toast-info {
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sweet-toast-info::before {
  border-right: 4px solid #d7d7d7;
  background: #ffffff;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 5px;
}

.sweet-toast-warning::before {
  content: "";

  background: #ffc700;
  border-right: 5px solid #bb9200;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 5px;
}
.sweet-toast-close-btn {
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  height: 100%;
  margin-top: -20px;
  padding: 0px 5px;
  cursor: pointer;
  color: #fff;
}
.sweet-toast-success-line {
  background: #1b5c33f2;
}
.sweet-toast-error-line {
  background: rgb(128, 26, 0);
}
.sweet-toast-info-line {
  background: #484848;
}
.sweet-toast-warning-line {
  background: rgb(250, 234, 10);
}

.sweet-toast-back-drop {
  z-index: 8;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #1d1d1d31;
}
.sweet-toast-line {
  margin-bottom: -2px;
  animation-name: toast_animation_line;
  animation-timing-function: linear;
  animation-delay: 0.1s;
  animation-duration: 4s;
  height: 3px;
  border-radius: 5px;
}
@keyframes toast_animation_line {
  from {
    width: 100%;
  }

  to {
    width: 0px;
  }
}

@keyframes toast_animations {
  0% {
    bottom: -100px;
  }
  45% {
    bottom: 20px;
  }
  85% {
    bottom: -10px;
  }
  100% {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .sweet-toast-main {
    width: 100%;
  }
  .sweet-toast-root {
    margin: 0px 5px;
  }
}
