.confirm-content {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.confirm-message {
  font-size: 16px !important;
}

.confirm-action {
  padding-top: 10px;
  display: flex;
  column-gap: 10px;
  width: 100%;
}
.confirm-action:empty {
  padding: 0px;
}
