.main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 99;
  display: none;
  background-color: transparent;
  height: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-weight: var(--font-500);
  font-size: var(--font-size-16);
}
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation-duration: 0.4s;
  overflow-y: visible;
  overflow-x: visible;
  max-height: 80vh;
  padding: var(--padding-15);
  border-radius: 12px;
  width: 100%;
  background-color: var(--color-back-ground-card);
  animation-name: animate_main;
}

.children {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  margin: 10px 0px;
}

.sm {
  max-width: 370px;
}
.md {
  max-width: 500px;
}
.lg {
  max-width: 650px;
}
.xl {
  max-width: 800px;
}

.back_drop {
  z-index: -99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.24);
}

.open_place_holder {
  display: flex;
}
.open {
  animation-name: animate_main;
}

.sign {
  display: none;
  width: 100%;
  height: 15px;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}

.sign > span {
  height: 3px;
  width: 20px;
  background: var(--color-card);
  border-radius: 5px;
}

@keyframes animate_main {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate_main_mobile {
  from {
    bottom: -200%;
  }
  to {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .sign {
    display: flex;
  }
  .main {
    bottom: 0;
    max-width: 100%;
    margin: inherit;
  }

  .container {
    border-radius: 35px 35px 0px 0px;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    background-color: var(--color-back-ground-card);
    animation-name: animate_main_mobile;
  }
}
